html{
    scroll-behavior: smooth;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.logo{
    width:160px;
}

.hero-image{
    height: 80vh;
    width: 100%;
}

.hero-image img, .latest-releases .row article img, .section-sven img{
    @include inside-image;
}

.latest-releases .row article{
    height: 400px;
}

.latest-releases h2{
    margin-bottom: 0;
}

.upcoming-events{
    background-image: url(../img/upcoming-bg.png);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-sven, .section-cocoon, .section-cocoon img{
    height: 600px;
}

.section-cocoon{
    background-color: $gray;
}

.related-artists{
    height:50vh;
}

.navbar-fixed-top.scrolled{
    background-color: $dark !important;
    transition: background-color 200ms ease-in;
    box-shadow: 5px -1px 12px -5px $secondary;
  }

.events{
    height:40vh;
}img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*FOOTER*/

footer{
    background-image: url(../img/footer-bg-02.jpg);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}
footer figure img{
    width:300px;
    height: auto;
}

ul li a{
    color:$secondary;
    text-decoration: none;
    &:hover{
        font-weight: bold;
        color: $light;
    }
}

/*CONTACT US!*/

input[type="text"], #message{
  background: transparent;
  border: none;
  border-bottom: 1px solid $gray;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus, #message:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 3px solid $dark;
}


/**/

@media (max-width: 576px) {
    .upcoming-events{
        background-image: url(../img/upcoming-events-sm-bg.jpg);
        background-size: contain;
    }
    h2{
        font-size:2rem !important;
    }
    .footer{
        background-image: url(../img/footer-sm-bg.jpg);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }
}